#mask {
	display: none;
	background: #000; 
	position: fixed; left: 0; top: 0; 
	z-index: 10;
	width: 100%; height: 100%;
	opacity: 0.8;
	z-index: 999;
}

.login-popup{
	display:none;
	background: #333;
	padding: 10px; 	
	border: 2px solid #ddd;
	float: left;
	font-size: 1.2em;
	position: fixed;
	top: 50%; left: 50%;
	z-index: 99999;
	box-shadow: 0px 0px 20px #999;
	-moz-box-shadow: 0px 0px 20px #999; /* Firefox */
    -webkit-box-shadow: 0px 0px 20px #999; /* Safari, Chrome */
	border-radius:3px 3px 3px 3px;
    -moz-border-radius: 3px; /* Firefox */
    -webkit-border-radius: 3px; /* Safari, Chrome */
}

.close_btn{
	float: right;
	margin-right: 3px;
	margin-top: 3px;
}

#login-box .content{
	border-radius: 0px;
	padding: 10px;
}
#login-box  h3{
	margin: 0px;
	background: none;
	border: none;
}

.button-flat-blue{
	border: none;
	height: 20px;
	padding: 2px;
	background-color: #00C8FF;
	border: 1px solid #0096FF;
	cursor: pointer;
	border-radius: 2px;
}
.button-flat-red{
	border: none;
	height: 20px;
	padding: 2px;
	background-color: #FF6400;
	border: 1px solid red;
	cursor: pointer;
	border-radius: 2px;
}
#login-box span{
	font-size: 10px;
	text-transform: none;
}
#login-box ul li{
	list-style: circle;
}
#login-box .content h4{

}

#login-box .green_alert{
		text-transform: none;
        display: block;
        margin-top: 10px;
        margin-left: 0px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        background: #E2F6C5 ;
        background-position: 10px 10px;
        border: 1px solid #79C20D;
        color: #32510F;
        height: 20px;
        text-indent: 10px;
    }
#login-box .red_alert{
    	text-transform: none;
        display: block;
        margin-top: 10px;
        margin-left: 0px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        background: #F3D9D9 ;
        background-position: 10px 10px;
        border: 1px solid #D20009;
        color: #7B040F;
        height: 20px;
        text-indent: 10px;
    }
#login-box .yellow_alert{
		text-transform: none;
        display: block;
        margin-top: 10px;
        margin-left: 0px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        background: #F5F3BA ;
        background-position: 10px 10px;
        border: 1px solid #C7A20D;
        color: #7B040F;
        height: 20px;
        text-indent: 10px;
    }
 .pagination{
 	text-align: center;
 }

 .scroll{
    position:relative;
    height:300px;
    overflow:auto;
}

.width-480{
    width: 480px;
}
.width-690{
    width: 690px;
}