<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control 
	field="Username">
	{$Username_editcontrol}
	</control>
	<control 
	field="Nama_Lengkap">
	{$Nama_Lengkap_editcontrol}
	</control>
	<control 
	field="Instansi">
	{$Instansi_editcontrol}
	</control>
	<control 
	field="NIP">
	{$NIP_editcontrol}
	</control>
	<control 
	field="Alamat_Kantor">
	{$Alamat_Kantor_editcontrol}
	</control>
	<control 
	field="Telp_Kantor">
	{$Telp_Kantor_editcontrol}
	</control>
	<control 
	field="Telp_HP">
	{$Telp_HP_editcontrol}
	</control>
	<message status="{$status}">{$message}</message>
</edit_controls>
