<html {$html_attrs}>
<head>
<title>Add/Edit users: Halaman pencarian detail</title>
<link REL="stylesheet" href="include/style.css" type="text/css">
<!--[if IE]>
<link REL="stylesheet" href="include/styleIE.css" type="text/css">
<![endif]-->
<style>
#center_block{$id} {margin:0 auto;}
#contents_block{$id} {text-align:center;width:100%}
#header_block{$id} {width:100%;white-space:nowrap;height:31px;padding-top:5px;}
#main_block{$id} {padding:10px 0;width:100%}
#inmain_block{$id} {margin:0 10px}
#fields_block{$id} {width:100%}
#buttons_block{$id} {width:100%;padding:10px 0 5px 0;}
#buttons_block{$id} > * {margin:0 2px}
</style>
<!--[if IE]>
<style>
#main_block{$id} {padding:10px 10;}
#inmain_block{$id} {margin:0 0px}
</style>
<![endif]-->
</head>
<body bgcolor=white>
{BEGIN body}
{$header}	
{BEGIN contents_block}
<table align=center id="center_block{$id}"><tr><td id="contents_block{$id}">
<b class="xtop"><b class="rb1 rb1_top"></b><b class="rb2 rb2_top"></b><b class="rb3 rb3_top"></b><b class="rb4 rb4_top"></b></b>
<div id="header_block{$id}" class="top">
Add/Edit users - Pencarian detail</div>
<div id="main_block{$id}" class="xboxcontentb" >
<div id="inmain_block{$id}" class="xboxcontentb" >
	
{BEGIN conditions_block}
<DIV id="conditions_block{$id}">
<b class="xtop"><b class="xb1"></b><b class="xb2"></b><b class="xb3"></b><b class="xb4"></b></b>
<div class="xboxcontent" style="width:100%">
<span class=fieldname>Cari:</span>
<input type="radio" name="srchType" {$all_checkbox}>{BEGIN all_checkbox_label}Semua Kondisi{END all_checkbox_label}
&nbsp;&nbsp;&nbsp;
<input type="radio" name="srchType" {$any_checkbox}>{BEGIN any_checkbox_label}Kondisi apapun{END any_checkbox_label}
</div>
<b class="xbottom"><b class="xb4"></b><b class="xb3"></b><b class="xb2"></b><b class="xb1"></b></b>
<br>
</DIV>
{END conditions_block}
<table cellpadding=4 cellspacing=0 border=0 id="fields_block{$id}">
<tr valign=center>
<td align=center valign=middle class="searchlist_left">&nbsp;</td>
<td width=30 align=center valign=middle class=searchlist>NOT</td>
<td align=center valign=middle class="searchlist">&nbsp; </td>
<td align=center valign=middle class="searchlist">&nbsp; </td>
<td align=center valign=middle class="searchlist_right">&nbsp; </td></tr>
{BEGIN Username_fieldblock}	
<tr>
	<td class=editshade_b style="padding-left:15px;">Username</td>
	<td align=center class=editshade_lb style="padding-left:10px;"><input type=checkbox {$Username_notbox}></td>
	
	<td class=editshade_lb style="padding-left:10px;">{$searchtype_Username}</td>
	<td width=270 class=editshade_lb style="padding-left:10px;">{$Username_editcontrol}&nbsp;</td>
	<td width=270 class=editshade_lb style="padding-left:10px;">{$Username_editcontrol1}&nbsp;</td>
</tr>
{END Username_fieldblock}	
{BEGIN Nama_Lengkap_fieldblock}	
<tr>
	<td class=editshade_b style="padding-left:15px;">Nama Lengkap</td>
	<td align=center class=editshade_lb style="padding-left:10px;"><input type=checkbox {$Nama_Lengkap_notbox}></td>
	
	<td class=editshade_lb style="padding-left:10px;">{$searchtype_Nama_Lengkap}</td>
	<td width=270 class=editshade_lb style="padding-left:10px;">{$Nama_Lengkap_editcontrol}&nbsp;</td>
	<td width=270 class=editshade_lb style="padding-left:10px;">{$Nama_Lengkap_editcontrol1}&nbsp;</td>
</tr>
{END Nama_Lengkap_fieldblock}	
{BEGIN Instansi_fieldblock}	
<tr>
	<td class=editshade_b style="padding-left:15px;">Instansi</td>
	<td align=center class=editshade_lb style="padding-left:10px;"><input type=checkbox {$Instansi_notbox}></td>
	
	<td class=editshade_lb style="padding-left:10px;">{$searchtype_Instansi}</td>
	<td width=270 class=editshade_lb style="padding-left:10px;">{$Instansi_editcontrol}&nbsp;</td>
	<td width=270 class=editshade_lb style="padding-left:10px;">{$Instansi_editcontrol1}&nbsp;</td>
</tr>
{END Instansi_fieldblock}	
{BEGIN NIP_fieldblock}	
<tr>
	<td class=editshade_b style="padding-left:15px;">NIP</td>
	<td align=center class=editshade_lb style="padding-left:10px;"><input type=checkbox {$NIP_notbox}></td>
	
	<td class=editshade_lb style="padding-left:10px;">{$searchtype_NIP}</td>
	<td width=270 class=editshade_lb style="padding-left:10px;">{$NIP_editcontrol}&nbsp;</td>
	<td width=270 class=editshade_lb style="padding-left:10px;">{$NIP_editcontrol1}&nbsp;</td>
</tr>
{END NIP_fieldblock}	
{BEGIN Alamat_Kantor_fieldblock}	
<tr>
	<td class=editshade_b style="padding-left:15px;">Alamat Kantor</td>
	<td align=center class=editshade_lb style="padding-left:10px;"><input type=checkbox {$Alamat_Kantor_notbox}></td>
	
	<td class=editshade_lb style="padding-left:10px;">{$searchtype_Alamat_Kantor}</td>
	<td width=270 class=editshade_lb style="padding-left:10px;">{$Alamat_Kantor_editcontrol}&nbsp;</td>
	<td width=270 class=editshade_lb style="padding-left:10px;">{$Alamat_Kantor_editcontrol1}&nbsp;</td>
</tr>
{END Alamat_Kantor_fieldblock}	
{BEGIN Telp_Kantor_fieldblock}	
<tr>
	<td class=editshade_b style="padding-left:15px;">Telp Kantor</td>
	<td align=center class=editshade_lb style="padding-left:10px;"><input type=checkbox {$Telp_Kantor_notbox}></td>
	
	<td class=editshade_lb style="padding-left:10px;">{$searchtype_Telp_Kantor}</td>
	<td width=270 class=editshade_lb style="padding-left:10px;">{$Telp_Kantor_editcontrol}&nbsp;</td>
	<td width=270 class=editshade_lb style="padding-left:10px;">{$Telp_Kantor_editcontrol1}&nbsp;</td>
</tr>
{END Telp_Kantor_fieldblock}	
{BEGIN Telp_HP_fieldblock}	
<tr>
	<td class=editshade_b style="padding-left:15px;">Telp HP</td>
	<td align=center class=editshade_lb style="padding-left:10px;"><input type=checkbox {$Telp_HP_notbox}></td>
	
	<td class=editshade_lb style="padding-left:10px;">{$searchtype_Telp_HP}</td>
	<td width=270 class=editshade_lb style="padding-left:10px;">{$Telp_HP_editcontrol}&nbsp;</td>
	<td width=270 class=editshade_lb style="padding-left:10px;">{$Telp_HP_editcontrol1}&nbsp;</td>
</tr>
{END Telp_HP_fieldblock}	
</table>

<div class="downedit2" id="buttons_block{$id}">
{BEGIN search_button}
 <span class=buttonborder><input class=button type=button value="Cari" {$searchbutton_attrs}></span>
{END search_button} 
{BEGIN reset_button}
 <span class=buttonborder><input class=button type=button value="Reset" {$resetbutton_attrs}></span>
{END reset_button}
{BEGIN back_button}
 <span class=buttonborder><input class=button type=button value="Kembali" {$backbutton_attrs}></span>
{END back_button}
</div>
<b class="xbottom"><b class="xb4a"></b><b class="xb3a"></b><b class="xb2a"></b><b class="xb1a"></b></b>
</div>
</div>
<b class="xbottom"><b class="xb4b4"></b><b class="xb3b4"></b><b class="xb2b4"></b><b class="xb1b4"></b></b>
</td></tr></table>
{END contents_block}
{$footer}
{END body}
</body>
</html>
	
