<!--<b>Hadir</b><br>-->

<TABLE CELLPADDING=4 CELLSPACING=1 BORDER=0 style="width:100%;margin:5px 0;border: solid; border-width: 1px; border-color: #C0C0C0;" class="data">

<!-- header -->
<tr class="blackshade" valign="top">
<td>Agenda</td>
<td>Instansi</td>
<td>Petugas</td>
<td>Jabatan</td>
<td>Jam entri</td>
</tr>
<!-- data -->
<tr class="shade">
<td>
{$id_agenda_mastervalue}
</td>
<td>
{$Instansi_mastervalue}
</td>
<td>
{$id_bos_mastervalue}
</td>
<td>
{$Jabatan_mastervalue}
</td>
<td>
{$Jam_mastervalue}
</td>
</tr>
</table>




