<!--<b>Agenda</b><br>-->

<TABLE CELLPADDING=4 CELLSPACING=1 BORDER=0 style="width:100%;margin:5px 0;border: solid; border-width: 1px; border-color: #C0C0C0;" class="data">

<!-- header -->
<tr class="blackshade" valign="top">
<td>Surat Masuk</td>
<td>Agenda</td>
<td>Mulai Tanggal</td>
<td>Jam</td>
<td>Berakhir Tanggal</td>
<td>Jam</td>
<td>Tempat</td>
</tr>
<!-- data -->
<tr class="shade">
<td>
{$id_masuk_mastervalue}
</td>
<td>
{$Apa_mastervalue}
</td>
<td>
{$Tgl_mulai_mastervalue}
</td>
<td>
{$Jam_mulai_mastervalue}
</td>
<td>
{$Tgl_akhir_mastervalue}
</td>
<td>
{$Jam_akhir_mastervalue}
</td>
<td>
{$Tempat_mastervalue}
</td>
</tr>
</table>




