<!--<b>Surat Masuk</b><br>-->

<TABLE CELLPADDING=4 CELLSPACING=1 BORDER=0 style="width:100%;margin:5px 0;border: solid; border-width: 1px; border-color: #C0C0C0;" class="data">

<!-- header -->
<tr class="blackshade" valign="top">
<td>Indeks</td>
<td>Kode Surat</td>
<td>Nomor Urut</td>
<td>Isi Ringkas</td>
<td>Dari</td>
<td>Tanggal Surat</td>
<td>Nomor Surat</td>
<td>Pengolah</td>
<td>Tanggal diteruskan</td>
<td>Prop</td>
</tr>
<!-- data -->
<tr class="shade">
<td>
{$Indeks_mastervalue}
</td>
<td>
{$KodeSurat_mastervalue}
</td>
<td>
{$NoUrut_mastervalue}
</td>
<td>
{$IsiRingkas_mastervalue}
</td>
<td>
{$Dari_mastervalue}
</td>
<td>
{$TglSurat_mastervalue}
</td>
<td>
{$NoSurat_mastervalue}
</td>
<td>
{$Pengolah_mastervalue}
</td>
<td>
{$TglDiteruskan_mastervalue}
</td>
<td>
{$prop_mastervalue}
</td>
</tr>
</table>




